<% if user_signed_in? %>
  <!-- 選択したquestionにお気に入りした人一覧の中に自分が入っていたら -->
  <% if question.favorite_user(current_user.id) %>
    <%= button_to question_favorite_path(favorite.id, question_id: question.id), method: :delete, id: "favorite-button", remote: true do %>
      <a>お気に入り済み</a>
      <span>
        <%= question.favorites_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to question_favorites_path(question), method: :post, id: "favorite-button", remote: true do %>
      <a>お気に入り</a>
      <span>
        <%= question.favorites_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <!-- ログイン状態でなければ、ただ表示させるだけ -->
  <a>お気に入り</a>
    <span>
      <%= question.favorites_count %>
    </span>
<% end %>
