<div id="vote_form">
  <p>投票数:<%= @question.votes_count %></p>
  <% unless current_user.already_vote(@question.id, "question") %>
    <%= form_for(@question.votes.build) do |f| %>
      <%= f.hidden_field :question_id %>
      <%= f.hidden_field :target, :value => "question" %>
      <%= f.submit "評価する", class: "btn btn-sm btn-default" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.already_vote(@question.id, "question"), method: 'delete') do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :question_id %>
      <%= f.hidden_field :target, :value => "question" %>
      <%= f.submit "評価を取り消す", class: "btn btn-sm btn-default" %>
    <% end %>
  <% end %>
</div>