
<p class="flash"><%= notice %><%= alert %></p>

<div class="index_main">
  <%= button_to '質問する', new_question_path, :class => "btn btn-primary index_main_button", method: :get %>
  <div class="index_main_question">
  <h1>質問をみる</h1>
    <br/>
    <% @questions.each do |question| %>
      <div class="index_main_question_block">
          <span class="glyphicon glyphicon-arrow-up">投票上ボタン</span>
          <br/>
          <span class="glyphicon glyphicon-arrow-down">投票下ボタン
            <p class="index_main_question_block_content"><%= link_to question.title, question %></p>
          </span>
          <!-- 作成者の質問の編集と破棄が可能　-->
          <% if question.user_id == current_user.id %>
            <p class="clear"><%= link_to 'Edit', edit_question_path(question) %></p>
            <p class="clear"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
