<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>


<!-- 回答フォーム -->
    <div id="answers_area">
      <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
    </div>
      <%= render partial: 'answers/form', locals: { answers: @answers, question: @question } %>
  <!-- ログインしているユーザーと書いたユーザーが同一の場合、編集可能 -->
      <%= link_to '編集', edit_question_path(@question) %> |

    <%= link_to '戻る', questions_path %>
<!-- 回答フォーム終わり -->
