<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%= @question.title %>
</p> -->

<div class="index_main">
  <%= button_to '質問する', new_question_path, :class => "btn btn-primary index_main_button", method: :get %>
  <div class="index_main_question">
    <h1><%= @question.title %></h1>
    <br/>
      <div class="index_main_question_block">
          <span class="glyphicon glyphicon-arrow-up">投票上ボタン</span>
          <br/>
          <span class="glyphicon glyphicon-arrow-down">投票下ボタン
            <p class="index_main_question_block_content"><%= @question.content %>
          </span>
          <!-- <%#= link_to '詳細へ', question %> -->
          <!-- 作成者の質問の編集と破棄が可能　-->
          <% if @question.user_id == current_user.id %>
            <p class="clear"><%= link_to 'Edit', edit_question_path(@question) %></p>
            <p class="clear"><%= link_to 'Destroy', question_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
      </div>
  </div>
</div>

<!-- @answerを取得する　アプリケーションヘルパーを活用-->
<%# instance_get %>
<h2>回答一覧</h2>
  <% @answers.each do |answer| %>
    <%#=@quesion.answer %>
    <p><%= answer.content%></p>
  <% end %>
<br>
<%= render partial:'answers/form', locals: {question: @question, answer: @answer} %>
