<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<p>回答一覧</p>
<div id="answers_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
</div>
  <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
  <% if current_user.id == @blog.user_id %>
  <%= link_to '編集', edit_blog_path(@blog) %> |
    <% end %>
  <%= link_to '戻る', blogs_path %>
