<p id="notice"><%= notice %></p>

  <div class="index_main">
      <%= button_to '質問する', new_question_path, :class => "btn btn-primary index_main_button", method: :get %>
      <div class="index_main_question">
        <h1><%= @question.title %></h1>
        <br/>
          <div class="index_main_question_block">
              <div class="index_main_question_block_content"> <%= @question.content %> </div>
              <%= render partial: 'favorite', locals: {question: @question} %>
              <%= render 'vote_form' %>
              <div class="tag_area">
                <% @question.tag_list.each do |tag| %>
                  <span class="label label-info"><%= tag %></span>
                <% end %>
              </div>
                <p class="index_main_question_name">
                   <%= image_tag(@question.user.avatar, :size => "40x40") %>
                   <%= link_to @question.user.name,user_path(@question.user.id) %>さん
                </p>
              <!-- 作成者の質問の編集と破棄が可能　-->
              <% if @question.user_id == current_user.id %>
                <p class="clear right">
                  <%= link_to '編集', edit_question_path(@question),class: "fa fa-pencil-square-o fa-lg" %>
                  <%= link_to '削除', question_path, method: :delete, data: { confirm: '本当に質問を削除してもよろしいですか?' },class: "fa fa-trash-o fa-lg" %>
                </p>
              <% end %>
          </div>
      </div>
    <!-- @answerを取得する　アプリケーションヘルパーを活用-->
    <%# instance_get %>
    <div id="answers_area">
    <%= render partial:'answers/index', locals: {question: @question, answers: @answers} %>
    </div>
    <br>
    <%= render partial:'answers/form', locals: {question: @question, answer: @answer} %>

</div>
