<h1>answer編集</h1>
<%= form_for([@answer.question, @answer]) do |f| %>
<div class="field">
  <%= f.label :content %><br>
  <%= f.text_field :content %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= link_to "answer一覧画面にもどる", questions_path %>
