<!DOCTYPE html>
<html>
<head>
  <title>Stackoverclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- スマホやタブレットで崩れないようにするために書く-->
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
   <div>
     <nav class="navbar navbar-default navigation-clean">
         <div class="container">
             <div class="navbar-header"><a href="#" class="navbar-brand navbar-link">stackoverclone</a>
                 <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
             </div>
             <div class="collapse navbar-collapse" id="navcol-1">
                 <ul class="nav navbar-nav navbar-right">
                     <li role="presentation" class="active"><%= link_to "質問", questions_path %></li>
                     <li role="presentation"><a href="#">ここにタグ一覧のリンクを入れてください</a></li>
                      <% if user_signed_in? %>
                        <li role="presentation"><%= link_to "ユーザ一覧", users_path %> </li>
                        <li class="dropdown"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle">マイページ <span class="caret"></span></a>
                           <ul role="menu" class="dropdown-menu">
                               <li role="presentation"><%= link_to "マイページ", user_path(current_user.id)%></li>
                               <li role="presentation"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                               <li role="presentation"><a href="#">Third Item</a></li>
                           </ul>
                        </li>
                      <% else %>
                             <li role="presentation"><%= link_to "ログイン",new_user_session_path %></li>
                             <li role="presentation"><%= button_to "登録", new_user_registration_path, :class=>'btn btn-primary' %></li>
                      <% end %>
                 </ul>
             </div>
         </div>
     </nav>
 </div>
</header>

<%= yield %>
  <footer>
    <p class="text-center">stackoverclone</p>
  </footer>

</body>
</html>
